<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nadeem.todos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.nadeem.todos.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nadeem.todos.activities.AddTodoActivity"
            android:label="Add" >
        </activity>
        <activity
            android:name="com.nadeem.todos.activities.ShowActivity"
            android:label="Content" >
        </activity>
        <activity
            android:name="com.nadeem.todos.activities.AboutActivity"
            android:label="About" >
        </activity>
        <activity
            android:name="com.nadeem.todos.activities.FeedBackActivity"
            android:label="Feedback" >
        </activity>
        <receiver
            android:name="com.nadeem.todos.receiver.TimeAlarm"
            android:process=":remote" >
            <data android:scheme="timer:" />
        </receiver>
        <receiver
            android:name=".provider.WidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider2" />
        </receiver>

        <service
            android:name=".service.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

</manifest>